<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for excersises</title>

    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <h5>{{  message.topic }}</h5>
        <hr >
        <div>1. hook up a button to toggle the display of two paragraps use both, v-if and v-show</div>
        <button @click="toggleDisplay">toggle display</button>
        <p>unaffected p</p>
        <p v-if="show">1st  using v-if</p>
        <p v-show="show">2nd p using v-show</p>
        <hr >
        <div>2. output an ulnof array elements of yiour choicen also nprint the index of the element</div>
        <ul>
            <li v-for="(player, index) in players">{{index}}: {{player}}</li>
        </ul>
        <hr>
        <div>3. print all key value pairs of a given object, also print the index of each item</div>
        <ul><li v-for="(value, key, index) of game">{{index}}:  {{key}} - {{value}}</li></ul>
        <hr>
        <div>4. print the values of given object and use a nested loop for the array</div>
        <ul>
            <li v-for="(value, key, index) in testobject">
                
                <div v-if="value instanceof Array">
                    <p v-for="val in value">{{ val }}</p>
                </div>
                <div v-else>{{ value }}</div>
                
            </li>
        </ul>

    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                players: ['PlayerRed', 'PlayerBlue', 'PlayerGreen'],
                game: {title: 'DOOM', year: 1992, USK: 18, singlePlayer: true},
                testobject: {
                    name: 'Testobject', data: [1.22, 3.45, 6.12, 2.77]
                },
                message : {
                    topic : 'v-for excersise'
                },
                show: true
            },
            methods: {
                toggleDisplay() {
                    this.show = !this.show
                }
            },
        })
    </script>
</body>
</html>